= render partial: "products/header"

- breadcrumb :payment_method
= render "layouts/breadcrumbs"

.content
  .content__left
    = render "sidebar"
  .content__payment_method
    .content__payment_method__title
      支払い方法
    .content__payment_method__item
      .content__payment_method__item__list
        .content__payment_method__item__list__top
          クレジットカード一覧
        %ul.content__payment_method__item__list__data
          %li
            .content__payment_method__item__list__data__1
              .content__payment_method__item__list__data__1__card
                = image_tag "/images/jcb.jpg", height:"20px", width:"26px"
                %button{type: "submit", class: "content__payment_method__item__list__data__1__card__btn"}
                  削除する
              .content__payment_method__item__list__data__1__password
                ************1234
              .content__payment_method__item__list__data__1__date
                12/24
      .content__payment_method__item__list__bottom
        = link_to"#", class:"content__payment_method__item__list__bottom__link" do
          支払い方法について
          = icon('fas', 'chevron-right', class: "content__payment_method__item__list__bottom__icon")

.banner
  = link_to"#" do
    = image_tag"/images/fre.jpg", class:"header-image"
    .banner__text
      スマホでかんたんフリマアプリ
    .banner__comment
      今すぐ無料ダウンロード!
    .banner__merucari
      = link_to "#" do
        = image_tag"/images/logo_white.svg",width:"50px",height:"50px"
    .banner__app
      = link_to"https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8" do
        = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg",width:"144px",height:"40px")
    .banner__google
      = link_to"https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja" do
        = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg",width:"144px",height:"40px")

= render "layouts/footer_sell_btn"
= render partial: "products/footer"