.signin_adress
  .signin_adress__top
    発送元・お届け先住所入力
  .signin_adress__contents
    .signin_adress__contents__name
      .signin_adress__contents__name__top
        .signin_adress__contents__name__top__left
          お名前
        .signin_adress__contents__name__top__right.label_required
          必須
      .signin_adress__contents__name__family
        %input{type: "text", placeholder: "例）山田", class: "signin_adress__contents__name__family__input"}
      .signin_adress__contents__name__first
        %input{type: "text", placeholder: "例）彩", class: "signin_adress__contents__name__first__input"}
    .signin_adress__contents__reading
      .signin_adress__contents__reading__top
        .signin_adress__contents__reading__top__left
          お名前カナ
        .signin_adress__contents__reading__top__right.label_required
          必須
      .signin_adress__contents__reading__family
        %input{type: "text", placeholder: "例）ヤマダ", class: "signin_adress__contents__reading__family__input"}
      .signin_adress__contents__reading__first
        %input{type: "text", placeholder: "例）アヤ", class: "signin_adress__contents__reading__first__input"}
    .signin_adress__contents__postal_code
      .signin_adress__contents__postal_code__top
        .signin_adress__contents__postal_code__top__left
          郵便番号
        .signin_adress__contents__postal_code__top__right.label_required
          必須
      .signin_adress__contents__postal_code__item
        %input{type: "text", placeholder: "例）123-4567", class: "signin_adress__contents__postal_code__item__input"}
    .signin_adress__contents__adress_1
      .signin_adress__contents__adress_1__top
        .signin_adress__contents__adress_1__top__left
          都道府県
        .signin_adress__contents__adress_1__top__right.label_required
          必須
      .signin_adress__contents__adress_1__item
        .signin_adress__contents__adress_1__item__wrap
          %select{name: "pref_id", class: "select_default1000"}
            %option{selected: "selected", value: ""} --
            %option{value: "adress1"}
              = Prefecture.find(1).name
            %option{value: "adress2"}
              = Prefecture.find(2).name
            %option{value: "adress3"}
              = Prefecture.find(3).name
            %option{value: "adress4"}
              = Prefecture.find(4).name
            %option{value: "adress5"}
              = Prefecture.find(5).name
            %option{value: "adress6"}
              = Prefecture.find(6).name
            %option{value: "adress7"}
              = Prefecture.find(7).name
            %option{value: "adress8"}
              = Prefecture.find(8).name
            %option{value: "adress9"}
              = Prefecture.find(9).name
            %option{value: "adress10"}
              = Prefecture.find(10).name
            %option{value: "adress11"}
              = Prefecture.find(11).name
            %option{value: "adress12"}
              = Prefecture.find(12).name
            %option{value: "adress13"}
              = Prefecture.find(13).name
            %option{value: "adress14"}
              = Prefecture.find(14).name
            %option{value: "adress15"}
              = Prefecture.find(15).name
            %option{value: "adress16"}
              = Prefecture.find(16).name
            %option{value: "adress17"}
              = Prefecture.find(17).name
            %option{value: "adress18"}
              = Prefecture.find(18).name
            %option{value: "adress19"}
              = Prefecture.find(19).name
            %option{value: "adress20"}
              = Prefecture.find(20).name
            %option{value: "adress21"}
              = Prefecture.find(21).name
            %option{value: "adress22"}
              = Prefecture.find(22).name
            %option{value: "adress23"}
              = Prefecture.find(23).name
            %option{value: "adress24"}
              = Prefecture.find(24).name
            %option{value: "adress25"}
              = Prefecture.find(25).name
            %option{value: "adress26"}
              = Prefecture.find(26).name
            %option{value: "adress27"}
              = Prefecture.find(27).name
            %option{value: "adress28"}
              = Prefecture.find(28).name
            %option{value: "adress29"}
              = Prefecture.find(29).name
            %option{value: "adress30"}
              = Prefecture.find(30).name
            %option{value: "adress31"}
              = Prefecture.find(31).name
            %option{value: "adress32"}
              = Prefecture.find(32).name
            %option{value: "adress33"}
              = Prefecture.find(33).name
            %option{value: "adress34"}
              = Prefecture.find(34).name
            %option{value: "adress35"}
              = Prefecture.find(35).name
            %option{value: "adress36"}
              = Prefecture.find(36).name
            %option{value: "adress37"}
              = Prefecture.find(37).name
            %option{value: "adress38"}
              = Prefecture.find(38).name
            %option{value: "adress39"}
              = Prefecture.find(39).name
            %option{value: "adress40"}
              = Prefecture.find(40).name
            %option{value: "adress41"}
              = Prefecture.find(41).name
            %option{value: "adress42"}
              = Prefecture.find(42).name
            %option{value: "adress43"}
              = Prefecture.find(43).name
            %option{value: "adress44"}
              = Prefecture.find(44).name
            %option{value: "adress45"}
              = Prefecture.find(45).name
            %option{value: "adress46"}
              = Prefecture.find(46).name
            %option{value: "adress47"}
              = Prefecture.find(47).name
          = icon('fas', 'chevron-down', class: "signin_adress__contents__adress_1__item__wrap__icon")
    .signin_adress__contents__adress_2
      .signin_adress__contents__adress_2__top
        .signin_adress__contents__adress_2__top__left
          市区町村
        .signin_adress__contents__adress_2__top__right.label_required
          必須
      .signin_adress__contents__adress_2__item
        %input{type: "text", placeholder: "例）横浜市緑区", class: "signin_adress__contents__adress_2__item__input"}
    .signin_adress__contents__adress_3
      .signin_adress__contents__adress_3__top
        .signin_adress__contents__adress_3__top__left
          番地
        .signin_adress__contents__adress_3__top__right.label_required
          必須
      .signin_adress__contents__adress_3__item
        %input{type: "text", placeholder: "例）青山1-1-1", class: "signin_adress__contents__adress_3__item__input"}
    .signin_adress__contents__adress_4
      .signin_adress__contents__adress_4__top
        .signin_adress__contents__adress_4__top__left
          建物名
        .signin_adress__contents__adress_4__top__right.label_any
          任意
      .signin_adress__contents__adress_4__item
        %input{type: "text", placeholder: "例）柳ビル103", class: "signin_adress__contents__adress_4__item__input"}
    .signin_adress__contents__phone_number
      .signin_adress__contents__phone_number__top
        .signin_adress__contents__phone_number__top__left
          電話
        .signin_adress__contents__phone_number__top__right.label_any
          任意
      .signin_adress__contents__phone_number__item
        %input{type: "text", placeholder: "例）09012345678", class: "signin_adress__contents__phone_number__item__input"}
    = link_to "#", class: "signin_adress__contents__btn__link" do
      .signin_adress__contents__btn 
        次に進む
  .signin_adress__footer
    .signin_adress__footer__nav
      .signin_adress__footer__nav__1
        = link_to "#", class: "signin_adress__footer__nav__link" do
          プライバシーポリシー
      .signin_adress__footer__nav__2
        = link_to "#", class: "signin_adress__footer__nav__link" do
          メルカリ利用規約
      .signin_adress__footer__nav__3
        = link_to "#", class: "signin_adress__footer__nav__link" do
          特定商取引に関する表記
    .signin_adress__footer__logo
      = link_to "#" do
        = image_tag "/images/logo_gray.svg", height: "65px", width: "80px", class: "signin_adress__footer__logo__icon"
    %p
      %small
        © Amatatsu, Inc.