.header
  .header__top
    = link_to "/" do
      .header__top__logo
        = image_tag"/images/fmarket_logo_red.svg",class:"image"
    .header__top__search
      何かお探しですか？
      = link_to "#", class:"color" do
        .header__top__search__btn
          = icon('fas', 'search', class: 'icon')
  .header__bottom
    .header__bottom__left
      = link_to "#", class:"color" do
        .header__bottom__left__categorie
          = icon('fas', 'list', class: 'icon')
          .header__bottom__left__categorie__text
            カテゴリーから探す
          %ul.header__bottom__left__categorie__parents
            - @parents.each do |parent|
              %li
                = link_to "#",class:"header__bottom__left__categorie__parents__parent" do
                  =parent.name
                %ul.header__bottom__left__categorie__parents__parent__children
                  - parent.children.each do |child|
                    %li
                      = link_to "#",class:"header__bottom__left__categorie__parents__parent__children__child" do
                        =child.name
                      %ul.header__bottom__left__categorie__parents__parent__children__child__grandchildren
                        - child.children.each do |grandchild|
                          %li
                            = link_to "#",class:"header__bottom__left__categorie__parents__parent__children__child__grandchildren__grandchild" do
                              =grandchild.name
                
                  
              
            
      .header__bottom__left__brand
        = icon('fas', 'tag', class: 'icon')
        = link_to "#",class:"aaa" do
          .header__bottom__left__brand__text
            ブランドから探す
          %ul.header__bottom__left__brand__parents
            %li
              = link_to "#",class:"header__bottom__left__brand__parents__parent" do
                シャネル
            %li
              = link_to "#",class:"header__bottom__left__brand__parents__parent" do
                ナイキ
            %li
              = link_to "#",class:"header__bottom__left__brand__parents__parent" do
                ルイ・ヴィトン
            %li
              = link_to "#",class:"header__bottom__left__brand__parents__parent" do
                シュプリーム
            %li
              = link_to "#",class:"header__bottom__left__brand__parents__parent" do
                アディダス
            %li
              = link_to "#",class:"header__bottom__left__brand__parents__parent" do
                ブランド一覧
    .header__bottom__right
      = link_to "#" do
        .header__bottom__right__comment
          = icon('far', 'heart', class: 'icon')
          .header__bottom__right__comment__text
            いいね！一覧
      = link_to "#" do
        .header__bottom__right__news
          = icon('far', 'bell', class: 'icon')
          .header__bottom__right__news__text
            お知らせ
      = link_to "#" do
        .header__bottom__right__list
          = icon('fas', 'check', class: 'icon')
          .header__bottom__right__list__text
            やることリスト
      = link_to "#" do
        .header__bottom__right__mypage
          = image_tag"/images/obake.jpg",height:"30px",width:"30px", class:"man"
          .header__bottom__right__mypage__text
            マイページ