.buy
  %header.buy__header
    .buy__header__box
      = link_to root_path do
        = image_tag "/images/fmarket_logo_red.svg", class: "buy__header__box__image"
  .buy__main
    %h2.buy__main__title
      購入内容の確認
    .buy__main__item
      .buy__main__item__area
        - @product.images.each do |image|
          = image_tag image.image_url, class:"buy__main__item__area__image"
      .buy__main__item__body
        %p.buy__main__item__body__text
          = @product.name
        %p.buy__main__item__body__price
          %span= number_to_currency(@product.price, unit: "¥", format: "%u%n", precision: 0)
          %span (税込) 送料込み
    .buy__main__status
      .buy__main__status__box
        .buy__main__status__box__price
          %p.buy__main__status__box__price__text
            支払い金額
          .buy__main__status__box__price__number
            = number_to_currency(@product.price, unit: "¥", format: "%u%n", precision: 0)
        .buy__main__status__box__point
          %i.fas.fa-square
          %p ポイントを使用（所持ポイント:P0）
        .buy__main__status__box__method
          .buy__main__status__box__method__top
            %h3.buy__main__status__box__method__top__left 支払い方法
            = link_to "変更する", "#", class: "buy__main__status__box__method__top__right"
          %p.buy__main__status__box__method__center
            クレジットカード
            - if @default_card_information.blank?
              %br /
            - else
              -#以下カード情報を表示
              = "**** **** **** " + @default_card_information.last4
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year

          .buy__main__status__box__method__bottom
            = image_tag "/images/jcb.jpg", class: "buy__main__status__box__method__bottom__image"
        .buy__main__status__box__delivery
          .buy__main__status__box__delivery__top
            %h3.buy__main__status__box__delivery__top__left 配送先
            = link_to "変更する", "#", class: "buy__main__status__box__delivery__top__right"
          .buy__main__status__box__delivery__bottom
            = number_to_currency(@product.user.post_number1, unit: "〒", format: "%u%n", precision: 0)
            = @product.user.municipality1
            = @product.user.house_number1
            = @product.user.kanji_family
            = @product.user.kanji_name
        = link_to product_pay_path do
          .buy__main__status__box__btn 購入する
  .buy__footer
    .buy__footer__content
      .buy__footer__content__top
        = link_to "プライバシーポリシー", "#", class: "buy__footer__content__top__left"
        = link_to "アマタツ利用規約", "#", class: "buy__footer__content__top__center"
        = link_to "特定商取引に関する表記", "#", class: "buy__footer__content__top__right"
      .buy__footer__content__middle
        = image_tag "/images/logo_gray.svg"
      .buy__footer__content__bottom ©︎ Fmarket,inc.
