= render partial: "products/header"

.item
  %h1.item__name
    = @product.name
  .item__content
    .item__content__photo
      %ul.item__content__photo__main
        - @product.images.each do |image|
          %li.item__content__photo__main__box
            = image_tag image.image_url, class:"item__content__photo__main__box__image"
      %ul.item__content__photo__sub
        - @product.images.each do |image|
          %li.item__content__photo__sub__box
            = image_tag image.image_url, class:"item__content__photo__sub__box__image"
    %table.item__content__detail
      %tr.item__content__detail__box
        %th.item__content__detail__box__left 出品者
        %td.item__content__detail__box__right
          = link_to "#", class: "item__content__detail__box__right__name" do
            = @product.user.name
          .item__content__detail__box__right__evaluation
            .item__content__detail__box__right__evaluation__great
              %i.fas.fa-laugh
              175
            .item__content__detail__box__right__evaluation__nice
              %i.fas.fa-meh
              0
            .item__content__detail__box__right__evaluation__bad
              %i.fas.fa-tired
              0
      .item__price.price-hidden
        %span.item__price__en
          = number_to_currency(@product.price, unit: "¥", format: "%u%n", precision: 0)
        %span.item__price__zei (税込)
        %span.item__price__sou 送料込み
      %tr.item__content__detail__box
        %th.item__content__detail__box__left カテゴリー
        %td.item__content__detail__box__right
          .item__content__detail__box__right__category-1
            = link_to "レディース", "#"
          .item__content__detail__box__right__category-2
            = link_to "#" do
              %i.fas.fa-chevron-right
              ワンピース
          .item__content__detail__box__right__category-3
            = link_to "#" do
              %i.fas.fa-chevron-right
              ひざ丈ワンピース
      - if @product.brand != nil
        %tr.item__content__detail__box
          %th.item__content__detail__box__left ブランド
          %td.item__content__detail__box__right
            = link_to "#" do
              = @product.brand
      - if @product.size != nil
        %tr.item__content__detail__box
          %th.item__content__detail__box__left 商品のサイズ
          %td.item__content__detail__box__right
            = @product.size
      %tr.item__content__detail__box
        %th.item__content__detail__box__left 商品の状態
        %td.item__content__detail__box__right
          = @product.status
      %tr.item__content__detail__box
        %th.item__content__detail__box__left 配送料の負担
        %td.item__content__detail__box__right
          = @product.postage
      %tr.item__content__detail__box
        %th.item__content__detail__box__left 配送の方法
        %td.item__content__detail__box__right
          = @product.method
      %tr.item__content__detail__box
        %th.item__content__detail__box__left 配送元地域
        %td.item__content__detail__box__right
          = link_to "#" do
            = @product.area
      %tr.item__content__detail__box
        %th.item__content__detail__box__left 発送日の目安
        %td.item__content__detail__box__right
          = @product.situation
  .item__price
    %span.item__price__en
      = number_to_currency(@product.price, unit: "¥", format: "%u%n", precision: 0)
    %span.item__price__zei (税込)
    %span.item__price__sou 送料込み
  - if user_signed_in? && @product.user_id == current_user.id
    = link_to product_path(@product.id), method: "delete", class: "item__buy-btn" do
      この商品を削除する
  - else
    = link_to "#", class: "item__buy-btn" do
      購入画面へ進む
  - if @product.method == "ゆうゆうアマタツ便"
    %p.item__merubin この商品はゆうゆうアマタツ便を使用しているため、アプリからのみ購入できます。
  %P.item__message
    = @product.detail
  .item__bottom
    .item__bottom__left
      %button.item__bottom__left__like{type: "butttom"}
        %i.far.fa-heart.like
        %span.f12 いいね!
        %span.like-num.f12 19
      = link_to "#", class: "item__bottom__left__report" do
        %i.far.fa-flag.f12
        %span.f12 不適切な商品の報告
    .item__bottom__right
      = link_to "#" do
        %i.fas.fa-lock.f12
        %span.f12 あんしん・あんぜんへの取り組み

.comment
  .comment__content
    %ul.comment__content__list
      = render partial: 'comment'
      = render partial: 'comment'
      = render partial: 'comment'
      = render partial: 'comment'
      = render partial: 'comment'
      = render partial: 'comment'
      = render partial: 'comment'
      = render partial: 'comment'
  .comment__content
    .form
      %p.form__report
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .form__textarea
      .form__bottom コメントする

%ul.page
  %li.page__left
    = link_to "#",class: "page__left__content" do
      %i.fas.fa-chevron-left
      超レア!! なんと手織り!!! J.Press アイルランド製ネクタイ
  %li.page__right
    = link_to "#",class: "page__right__content" do
      iPhone イヤホン 充電器
      %i.fas.fa-chevron-right

.media
  %ul.media__box
    %li.media__box__list.facebook
      = link_to "#" do
        %i.fab.fa-facebook-square
    %li.media__box__list.twitter
      = link_to "#" do
        %i.fab.fa-twitter
    %li.media__box__list.line
      = link_to "#" do
        .line-back
          %i.fab.fa-line
    %li.media__box__list.pinterest
      = link_to "#" do
        %i.fab.fa-pinterest

.other
  .other__profile
    %h2.other__profile__title
      = link_to "#" do
        = "#{@product.user.name}さんのその他の出品"
    .other__profile__group
      =render partial: 'content', collection: @contents

  - if @product.brand != nil
    .other__profile
      %h2.other__profile__title
        = link_to "#" do
          = "#{@product.brand}のひざ丈ワンピース その他の商品"
      .other__profile__group
        =render partial: 'content', collection: @contents

.bottom-tree
  %ul.bottom-tree__box
    %li
      = link_to "#", class: "bottom-tree__box__left" do
        %span アマタツ
      %i.fas.fa-chevron-right
    %li
      = link_to "#", class: "bottom-tree__box__right" do
        %span かわいいワンピース

.bottom-area
  = link_to "購入画面に進む", "#", class: "bottom-area__btn"

= render partial: "products/footer"