.content
  .content__left
    = render "sidebar"  
  .content__right
    .content__right__user
      = link_to"#", class:"content__right__user__link" do
        .content__right__user__link__data
          %img{src: "images/member_photo_noimage_thumb.svg", height:"60px", width:"60px", class: "content__right__user__link__data__icon"}
          .content__right__user__link__data__name
            天辰誠一郎
          .content__right__user__link__data__number
            .content__right__user__link__data__number__left
              .content__right__user__link__data__number__left__title
                評価
              .content__right__user__link__data__number__left__num
                0
            .content__right__user__link__data__number__right
              .content__right__user__link__data__number__right__title
                出品数
              .content__right__user__link__data__number__right__num
                0
    
    .content__right__top_tabs
      %input#notice{checked: "checked", name: "tab_item", type: "radio"}/
      %label.tab_item{for: "notice"} お知らせ
      %input#todo{name: "tab_item", type: "radio"}/
      %label.tab_item{for: "todo"} やることリスト
      #notice_content.tab_content
        .tab_content_description
          %p.box
            %ul.content__right__contents
              %li
                = link_to"#" do
                  .content__right__contents__item
                    .content__right__contents__item__body
                      %img{src: "images/logo_red.svg", class:"content__right__contents__item__body__icon", height:"48px", width:"48px"}
                      .content__right__contents__item__body__text
                        《新規登録者限定》”最大1,000円分のポイントがもらえる”出品キャンペーン開催中！
                        .content__right__contents__item__body__text__time
                          = icon('far', 'clock', class: "content__right__contents__item__body__text__time__icon")
                          1日前
                      .content__right__contents__item__arrow
                = link_to"#" do
                  .content__right__contents__item
                    .content__right__contents__item__body
                      %img{src: "images/logo_red.svg", class:"content__right__contents__item__body__icon", height:"48px", width:"48px"}
                      .content__right__contents__item__body__text
                        事務局から個別メッセージ「ログイン通知」
                        .content__right__contents__item__body__text__time
                          = icon('far', 'clock', class: "content__right__contents__item__body__text__time__icon")
                          1日前
                        %time
                      .content__right__contents__item__arrow
                = link_to"#" do
                  .content__right__contents__item
                    .content__right__contents__item__body
                      %img{src: "images/logo_red.svg", class:"content__right__contents__item__body__icon", height:"48px", width:"48px"}
                      .content__right__contents__item__body__text
                        事務局から個別メッセージ「ログイン通知」
                        .content__right__contents__item__body__text__time
                          = icon('far', 'clock', class: "content__right__contents__item__body__text__time__icon")
                          1日前
                      .content__right__contents__item__arrow
                  .content__right__contents__bottom
                    = link_to"#" do
                      .content__right__contents__bottom__btn
                        一覧を見る
      #todo_content.tab_content
        .tab_content_description
          %p.box
            %ul.content__right__contents
              %li
                = link_to"#" do
                  .content__right__contents__item
                    .content__right__contents__item__body
                      %img{src: "images/logo_red.svg", class:"content__right__contents__item__body__icon", height:"48px", width:"48px"}
                      .content__right__contents__item__body__text
                        ご登録のメールアドレスに認証メールを送りました。メールに記載のURLをクリックして、メールアドレスを認証してください。
                        .content__right__contents__item__body__text__time
                          = icon('far', 'clock', class: "content__right__contents__item__body__text__time__icon")
                          1日前
                      .content__right__contents__item__arrow
                  .content__right__contents__bottom
                    = link_to"#" do
                      .content__right__contents__bottom__btn
                        一覧を見る

    .content__right__bottom_title
      購入した商品
    .content__right__bottom_tabs
      %input#during_trading{checked: "checked2", name: "bottom_tab_item", type: "radio"}/
      %label.tab_item{for: "during_trading"} 取引中
      %input#trading_history{name: "bottom_tab_item", type: "radio"}/
      %label.tab_item{for: "trading_history"} 過去の取引
      #during_trading_content.content__right__bottom_tabs__content
        .tab_content_description2
          %p.box
            .content__right__bottom_item
              .content__right__bottom_item__image
              .content__right__bottom_item__text
                取引中の商品がありません
      #trading_history_content.content__right__bottom_tabs__content
        .tab_content_description2
          %p.box
            .content__right__bottom_item
              .content__right__bottom_item__image
              .content__right__bottom_item__text
                過去に取引した商品がありません
= render "layouts/footer_sell_btn"