.pay
  .pay__main
    %h2.pay__main__title 支払い方法
    = form_for :card , url: cards_path, html: {class: "pay__main__form", id: "pay_form"} do |f|
      .pay__main__form__group
        .pay__main__form__group__text
          .pay__main__form__group__text__title
            カード番号
            .pay__main__form__group__text__title__label
              必須
          %input{type: "text", placeholder: "半角数字のみ", class:"pay__main__form__group__text__box", id: "pay_number"}
        .pay__main__form__group__list
          .pay__main__form__group__list__card_1
            = image_tag "/images/visa.ico", height:"20px", width:"28px"
          .pay__main__form__group__list__card_2
            = image_tag "/images/mastercard.ico", height:"20px", width:"30px"
          .pay__main__form__group__list__card_3
            = image_tag "/images/saison.svg", height:"20px", width:"30px"
          .pay__main__form__group__list__card_4
            = image_tag "/images/jcb.jpg", height:"20px", width:"30px"
          .pay__main__form__group__list__card_5
            = image_tag "/images/american.ico", height:"20px", width:"30px"
          .pay__main__form__group__list__card_6
            = image_tag "/images/dinersclub.ico", height:"20px", width:"30px"
          .pay__main__form__group__list__card_7
            = image_tag "/images/discover.ico", height:"20px", width:"25px"

        .pay__main__form__group__expire
          .pay__main__form__group__expire__top
            .pay__main__form__group__expire__top__title
              有効期限
            .pay__main__form__group__expire__top__label
              必須
          .pay__main__form__group__expire__bottom
            .pay__main__form__group__expire__bottom__month
              %select{name: "pref_id", class: "select_default", id: "pay_month"}
                %option{selected: "selected", value: ""} --
                %option{value: "1"} 1
                %option{value: "2"} 2
                %option{value: "3"} 3
                %option{value: "4"} 4
                %option{value: "5"} 5
                %option{value: "6"} 6
                %option{value: "7"} 7
                %option{value: "8"} 8
                %option{value: "9"} 9
                %option{value: "10"} 10
                %option{value: "11"} 11
                %option{value: "12"} 12
              = icon('fas', 'chevron-down', class: "pay__main__form__group__expire__bottom__month__icon")
            .pay__main__form__group__expire__bottom__month-name
              月
            
            .pay__main__form__group__expire__bottom__day
              %select{name: "pref_id", class: "select_default", id: "pay_year"}
                %option{selected: "selected", value: ""} --
                %option{value: "2020"} 20
                %option{value: "2021"} 21
                %option{value: "2022"} 22
                %option{value: "2023"} 23
                %option{value: "2024"} 24
                %option{value: "2025"} 25
                %option{value: "2026"} 26
                %option{value: "2027"} 27
                %option{value: "2028"} 28
                %option{value: "2029"} 29
                %option{value: "2030"} 30
              = icon('fas', 'chevron-down', class: "pay__main__form__group__expire__bottom__day__icon")
            .pay__main__form__group__expire__bottom__day-name
              日
        .pay__main__form__group__security
          .pay__main__form__group__security__code
            .pay__main__form__group__security__code__title
              セキュリティコード
              .pay__main__form__group__security__code__title__label
                必須
            %input{type: "text", placeholder: "カード背面4桁もしくは3桁の番号", class:"pay__main__form__group__security__code__box", id:"pay_security"}
        
        .pay__main__form__group__reason
          = link_to"#", class: "number__main__form__group__reason__link" do
            %i.fas.fa-question-circle
            カード裏面の番号とは？
        = f.submit "次へ進む", class: "pay__main__form__group__btn", id: "pay_submit"

  .pay__footer
    .pay__footer__content
      .pay__footer__content__top
        = link_to "プライバシーポリシー", "#", class: "pay__footer__content__top__left"
        = link_to "メルカリ利用規約", "#", class: "pay__footer__content__top__center"
        = link_to "特定商取引に関する表記", "#", class: "pay__footer__content__top__right"
      .pay__footer__content__middle
        = image_tag "/images/logo_gray.svg"
      .pay__footer__content__bottom ©︎ Fmarket,inc.