.newuser
  .newuser__logo
    = link_to "#" do
      = image_tag ("/images/fmarket_logo_red.svg")
  .newuser__sign__two
    %ul.newuser__sign__two__list
      %li
        会員情報
        %br/
        .box-one
      %li.red
        電話番号情報
        %br/
        .box-two
      %li
        お届け先住所入力
        %br/
        .box-three
      %li
        支払い方法
        %br/
        .box-four
      %li
        完了
        %br/
        .box-five
    .newuser__sign__two__boder__two

.number
  .number__main
    %h2.number__main__title 電話番号の確認
    = form_for @user, url: phones_path, html: {class: "number__main__form"} do |f|
      = render 'layouts/error_messages', model: f.object
      .number__main__form__group
        .number__main__form__group__text
          .number__main__form__group__text__title
            携帯電話の番号
          = f.text_field :phone_number, placeholder: "携帯電話の番号を入力", class:"number__main__form__group__text__box"
        %p.number__main__form__group__confirmation
          本人確認のため、携帯電話SMS(ショートメッセージサービス)を利用して認証を行います。
        = f.submit "電話番号を登録する", class: "number__main__form__group__btn"
        %p.number__main__form__group__note
          ※電話番号は本人確認や不正利用防止のために使用します。他のユーザーに公開されることはありません。
        .number__main__form__group__reason
          = link_to"#", class: "number__main__form__group__reason__link" do
            電話番号確認が必要な理由
            = icon('fas', 'chevron-right', class: "content__information__item__text__sub__icon")

  .number__footer
    .number__footer__content
      .number__footer__content__top
        = link_to "プライバシーポリシー", "#", class: "number__footer__content__top__left"
        = link_to "メルカリ利用規約", "#", class: "number__footer__content__top__center"
        = link_to "特定商取引に関する表記", "#", class: "number__footer__content__top__right"
      .number__footer__content__middle
        = image_tag "/images/logo_gray.svg"
      .number__footer__content__bottom ©︎ Fmarket,inc.